<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconoapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoEncuesta"
        tools:targetApi="31">

        <activity
            android:name=".vistaDocente"
            android:exported="false" />
        <activity
            android:name=".vistaEstudiante"
            android:exported="false" />
        <activity
            android:name=".materiaActualizar"
            android:exported="false" />
        <activity
            android:name=".materiaConsultar"
            android:exported="false" />
        <activity
            android:name=".materiaEliminar"
            android:exported="false" />
        <activity
            android:name=".materiaInsertar"
            android:exported="false" />
        <activity
            android:name=".preguntaResCorta"
            android:exported="false" />
        <activity
            android:name=".preguntasVyF"
            android:exported="false" />
        <activity
            android:name=".usuarioActualizar"
            android:exported="false" />
        <activity
            android:name=".usuarioConsultar"
            android:exported="false" />
        <activity
            android:name=".usuarioEliminar"
            android:exported="false" />
        <activity
            android:name=".usuarioInsertar"
            android:exported="false" />
        <activity
            android:name=".crearEncuesta"
            android:exported="false" />
        <activity
            android:name=".eliminarEncuesta"
            android:exported="false" />
        <activity
            android:name=".encuestaLista"
            android:exported="false" />
        <activity
            android:name=".agregarPreguntaVyF"
            android:exported="false" />

        <activity
            android:name=".agregarPreguntaResCorta"
            android:exported="false" />
        <activity
            android:name=".preguntaAudio"
            android:exported="false" />
        <activity
            android:name=".pantallaBienvenida"
            android:exported="false">
        </activity>
        <activity
            android:name=".animacionLottie"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>